/*
0.0 Generelt
0.1 Nav
0.2 Burgermenu
1.1 Index
1.2 Hover
2.1 CV
3.1 Web
4.1 Indhold
5.1 Animation
6.1 UX-Designspring
7.1 UX-prototyper
8.1 FOOTER
9.0 Media queries
*/

/* -------- 0.0 GENERELT -------------- */

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcfcfc;
    max-width: 1499px;
    padding-bottom: 20px;
}

:root {
    --color-p: #393737;
    --color-h1: #555353;
    --color-h2: #7e7e7e;
    --color-hover: #f8f8f8;
}

h1 {
    color: var(--color-h1);
    font-style: normal;
    font-weight: 300;
    font-family: 'montserrat',
        sans-serif;
}

p {
    color: var(--color-p);
    font-family: 'arial', sans-serif;
    font-style: normal;
    font-weight: 200;
}

h2 {
    color: var(--color-h2);
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
}

h3 {
    color: var(--color-p);
    font-family: 'arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 0px 40px 0px 40px;
}

h4 {
    color: var(--color-p);
    font-family: 'arial', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
}

li {
    color: var(--color-p);
    font-family: 'arial', sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    list-style-type: none;
    font-weight: 200;
}

.program {
    margin-bottom: 15px;
}


/* ----- 0.1 NAV ----- */
nav {
    list-style-type: none;
    overflow: hidden;

    position: absolute;
    width: 80vw;
    text-align: right;
    z-index: 1;
    padding-top: 35px;
    height: auto;
}

nav li {
    display: inline-block;
}

a {
    padding-right: 4vw;
    text-decoration: none;
    color: var(--color-p);
    font-style: normal;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

a:hover {
    cursor: pointer;
    font-weight: 500;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-right: 4vw;
    text-decoration: none;
    color: var(--color-p);
    font-style: normal;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
    font-size: 1.2rem;
    left: 80vw;
    top: 60px;
    z-index: 1;
}

.dropdown_link {
    display: none;
    position: absolute;
    right: -135px;
    min-width: 300px;
    z-index: 1;
    line-height: 2;
}

.dropdown:hover .dropdown_link {
    display: block;
    cursor: pointer;
    background-color: rgba(252, 252, 252, 0.93);
}

span:hover {
    font-weight: 500;
}


/* ----- 0.2 BURGERMENU ----- */

.hidden {
    display: none;
}

#menuknap {
    display: block;
    text-align: left;
    padding-left: 15px;
    font-size: 2.3rem;
    font-family: 'helvetica', sans-serif;
    cursor: pointer;
}

#menu {
    transition: transform 0.3s;
    list-style-type: none;
    transform-origin: top left;
    background-color: rgba(252, 252, 252, 0.87);
    width: 300px;
    text-align: left;
    padding-bottom: 20px;
}

#burger {
    width: 200px;
    z-index: 2;
}

#menu li {
    padding-top: 30px;
    display: block;
    text-align: left;
}

#menu a {
    font-size: 1rem;
}

/* ----- 1.1 INDEX ------ */

.front_text {
    padding-top: 8vw;

    animation-name: front_text;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes front_text {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(5px);
    }
}

.front_text h1 {
    text-align: center;
    font-size: 9rem;
    margin-bottom: 60px;
}

.front_text h2 {
    font-size: 3.5rem;
    font-style: italic;
    font-family: 'Petit Formal Script', cursive;
    color: #be939a;
}

#intro p {
    color: var(--color-p);
    text-align: center;
    padding: 20px 80px 80px 80px;
}

#boxes {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 50%;
    width: 80%;
}

.box {
    flex-basis: 300px;
    flex-grow: 1;

    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}

.box img {
    width: 300px;
    height: auto;
    box-shadow: 11px 12px 30px -8px #555353;
}


/*----------- 1.2 HOVER-------------*/
.overlay_cv {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 87%;
    width: 300px;
    opacity: 0.3;
    transition: .5s ease;
    background-color: #7F6A6E;
}

.overlay_cv:hover {
    opacity: 1;
}

.overlay_cv h2 {
    position: absolute;
    left: 30%;
    top: 40%;
    text-align: center;
    color: var(--color-hover);
    border: 1px white solid;
    width: 40%;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
}

/*----------------------------*/

.overlay_web {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 87%;
    width: 300px;
    opacity: 0.3;
    transition: .5s ease;
    background-color: #d19494;
}

.overlay_web:hover {
    opacity: 1;
}

.overlay_web h2 {
    position: absolute;
    left: 30%;
    top: 40%;
    text-align: center;
    color: var(--color-hover);
    border: 1px white solid;
    width: 40%;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
}

/*----------------------------*/
.overlay_content {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 87%;
    width: 300px;
    opacity: 0.3;
    transition: .5s ease;
    background-color: #BA9AA0;
}

.overlay_content:hover {
    opacity: 1;
}

.overlay_content h2 {
    position: absolute;
    left: 25%;
    top: 40%;
    text-align: center;
    color: var(--color-hover);
    border: 1px white solid;
    width: 50%;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
}

/*----------------------------*/
.overlay_animation {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 87%;
    width: 300px;
    opacity: 0.3;
    transition: .5s ease;
    background-color: #9a7d91;
}

.overlay_animation:hover {
    opacity: 1;
}

.overlay_animation h2 {
    position: absolute;
    left: 18%;
    top: 40%;
    text-align: center;
    color: var(--color-hover);
    border: 1px white solid;
    width: 65%;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
}


/*----------------------------*/
.overlay_uxd {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 87%;
    width: 300px;
    opacity: 0.3;
    transition: .5s ease;
    background-color: #CBAAB0;
}

.overlay_uxd:hover {
    opacity: 1;
}

.overlay_uxd h2 {
    position: absolute;
    left: 5%;
    top: 40%;
    text-align: center;
    color: var(--color-hover);
    border: 1px white solid;
    width: 88%;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
}

/*----------------------------*/
.overlay_uxp {
    display: inline;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 87%;
    width: 300px;
    opacity: 0.3;
    transition: .5s ease;
    background-color: #706470;
}

.overlay_uxp:hover {
    opacity: 1;
}

.overlay_uxp h2 {
    position: absolute;
    left: 25%;
    top: 40%;
    text-align: center;
    color: var(--color-hover);
    border: 1px white solid;
    width: 48%;
    height: 13%;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
}

/* ------ 2.1 CV ------ */

.cv_headline h1 {
    text-align: center;
    padding-top: 80px;
    font-size: 10rem;
    position: absolute;
    top: 10vw;
    left: 15vw;

    animation-name: cv_headline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes cv_headline {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(5px);
    }
}

video {
    width: 80%;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#bg_image {
    padding-top: 80px;
    height: 35vw;
    position: relative;

    margin: 20px 20px 0px 30px;
}

#bg_image img {
    width: 46vw;
    height: auto;
    position: absolute;
    top: 0.8vw;
    left: 46.5vw;
}

.hide {
    display: none;
}

.sectionwrapper {
    flex-basis: 200px;
    flex-grow: 1;
    height: auto;
    width: auto;
    padding: 20px 20px 0px 30px;
}

.sectionwrapper li {
    padding-bottom: 5px;
}

.description {
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    background-color: #ededed;
    font-size: 1rem;
    height: 100%;
    padding: 20px;
}

.description h2 {
    font-size: 2.5rem;
    padding: 40px 0px 30px 0px;
}

.description li {
    font-family: itc-american-typewriter, serif;

    color: var(--color-p);
    font-weight: 100;
    line-height: 35px;
    font-size: 1.4rem;
}

.description p {
    padding: 40px 60px;
    line-height: 1.5;
    text-align: justify;
}

.description li:last-child {
    padding-bottom: 20px;
}

.description h3 {
    padding: 0;
}

.it {
    margin-left: 40px;
}

.it h3 {
    text-align: left;
    padding-left: 20px;
    line-height: 3;
    font-weight: 800;
}

.it li {
    font-family: 'arial', sans-serif;
    font-size: 1rem;
    text-align: left;
    padding-left: 20px;
    line-height: 1.5;
    list-style-type: circle;
}

.section {
    padding-top: 20px;
}

.section h2 {
    font-size: 2.5rem;
    padding: 40px 0px 10px 0px;
}

.section li {
    font-family: 'arial', sans-serif;
    font-size: 1rem;
    padding-right: 30px;
    line-height: 1.5;
}

#footer_cv {
    margin: 40px 30px 0px 30px;
}

/*------ 3.1 WEB ------ */

#web {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.web_headline h1 {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 5rem;
    border-bottom: 2vw #d19494 solid;

    animation-name: web_headline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes web_headline {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(5px);
    }
}

.web_text {
    text-align: justify;
    flex-basis: 300px;
    flex-grow: 1;
}

.web_text p {
    padding: 20px 40px 0px 40px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.web_image {
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
}

.web_image img {
    padding: 10px;
    width: 250px;
}

.web_h2 {
    padding-top: 30px;
}

.link_web {
    padding: 30px;
    text-align: center;
}

.link_web a {
    font-size: 1.5rem;
    padding: 10px;
    border: 1px black solid;
    box-shadow: 8px 10px 20px -10px;
    border-radius: 4px;
}

.link_web a:hover {
    background-color: #d19494;
    color: white;
}


/*------ 4.1 INDHOLD ------ */
#content {
    display: flex;
    flex-wrap: wrap;

    padding: 30px;
}

.content_headline h1 {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 5rem;
    border-bottom: 2vw #BA9AA0 solid;

    animation-name: content_headline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes content_headline {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(5px);
    }
}

.content_text {
    text-align: justify;
    flex-basis: 300px;
    flex-grow: 1;
}

.content_text p {
    padding: 20px 40px 0px 40px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.content_image {
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
}

.content_image img {
    padding: 10px;
    width: 250px;
}

.video {
    text-align: center;
}

.video h2 {
    padding: 40px;
}

.content_link {
    text-align: center;
    margin-bottom: 20px;
}

.content_link a {
    border: 1px black solid;
    box-shadow: 8px 10px 20px -10px;
    border-radius: 4px;
    padding: 6px;
    font-size: 1.5rem;
    line-height: 1.7;
}

.content_link a:hover {
    background-color: #BA9AA0;
    color: white;
}


/* ------ 5.1 ANIMATION ------ */
#dans {
    position: absolute;
    top: -5vw;
    left: 3vw;
    width: 7vw;
    height: 35vw;
    z-index: 1;
    background-image: url(billeder/danse.svg);
    background-size: 800% 100%;
    animation-iteration-count: infinite;

    animation-name: danse_kf;
    animation-duration: 2s;
    animation-timing-function: steps(7);
    animation-fill-mode: both;
}

@keyframes danse_kf {
    from {
        background-position: 0%;
    }

    to {
        background-position: -700%;
    }
}

#animation {
    display: flex;
    flex-wrap: wrap;

    padding: 30px;
}

#animation_group {
    display: flex;
    flex-wrap: wrap;

    padding: 30px;
}

.animation_headline h1 {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 5rem;
    border-bottom: 2vw #9a7d91 solid;

    animation-name: animation_headline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animation_headline {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(5px);
    }
}


.animation_text {
    text-align: justify;
    flex-basis: 300px;
    flex-grow: 1;
}

.animation_text p {
    padding: 20px 40px 0px 40px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.animation_image {
    flex-basis: 400px;
    flex-grow: 1;
    text-align: center;
}

.animation_image img {
    padding: 10px;
    width: 250px;
}

.animation_h2 {
    padding-top: 30px;
}

.animation_link {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px #9a7d91 solid;
}

.animation_link:last-of-type {
    border-bottom: none;
}

.animation_link a {
    font-size: 1.5rem;
    border: 1px black solid;
    box-shadow: 8px 10px 20px -10px;
    border-radius: 4px;
    padding: 6px;
    font-size: 1.5rem;
    line-height: 2.5;
}

.animation_link a:hover {
    background-color: #9a7d91;
    color: white;
}

/* ------ 6.1 UX-designsprint ------ */

#uxd {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

#uxd_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.uxd_headline h1 {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 5rem;
    border-bottom: 2vw #CBAAB0 solid;

    animation-name: uxd_headline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes uxd_headline {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(5px);
    }
}

.uxd_text {
    text-align: justify;
    flex-basis: 300px;
    flex-grow: 1;
}

.uxd_text p {
    padding: 20px 40px 0px 40px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.uxd_image {
    flex-basis: 300px;
    flex-grow: 1;
    text-align: center;
}

.uxd_image img {
    padding: 20px;
    width: 250px;
}

.uxd_h2 {
    padding-top: 30px;
}

.link_uxd {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px #CBAAB0 solid;
}

.link_uxd a {
    font-size: 1.5rem;
    padding-left: 70px;
    border: 1px black solid;
    box-shadow: 8px 10px 20px -10px;
    border-radius: 4px;
    padding: 6px;
    line-height: 2.5;
}

.link_uxd:last-of-type {
    border-bottom: none;
}

.link_uxd a:hover {
    background-color: #CBAAB0;
    color: white;
}

.uxd_tema {
    padding: 20px 40px 20px 70px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
}


/* ------ 7.1 UX-prototyper ------ */
#uxp {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

#uxp_2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.uxp_headline h1 {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 5rem;
    border-bottom: 2vw #706470 solid;

    animation-name: uxp_headline;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes uxp_headline {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(5px);
    }
}

.uxp_text {
    text-align: justify;
    flex-basis: 300px;
    flex-grow: 1;
}

.uxp_text p {
    padding: 20px 40px 0px 40px;
    font-size: 1.1rem;
    line-height: 1.5;
}

.uxp_image {
    flex-basis: 300px;
    flex-grow: 1;
}

.uxp_image img {
    padding: 20px;
    width: 200px;
}

.uxp_h2 {
    padding-top: 30px;
}

.link_uxp {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 3px #706470 solid;
}

.link_ux:last-of-type {
    border-bottom: none;
}

.link_uxp a {
    font-size: 1.5rem;
    padding-left: 70px;
    border: 1px black solid;
    box-shadow: 8px 10px 20px -10px;
    border-radius: 4px;
    padding: 6px;
    line-height: 2.5;
}

.link_uxp a:hover {
    background-color: #706470;
    color: white;
}

.uxp_tema {
    padding: 20px 40px 20px 70px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
}

iframe {
    width: 100%;
    height: 667px;
    border: none;
}

/* ------ 8.0 FOOTER ------ */
footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 40px 10px 40px;
    text-align: center;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.06);
}

.footer_some {
    flex-basis: 100px;
    flex-grow: 1;
    text-align: left;
}

.footer_some img {
    width: 30px;
}

.footer_info {
    flex-basis: 100px;
    flex-grow: 1;
}

.footer_info p {
    font-style: normal;
    font-weight: 300;
    font-family: 'montserrat', sans-serif;
    font-size: 1rem;
}

.footer_nav {
    flex-basis: 100px;
    flex-grow: 1;
}

.footer_nav li {
    display: block;
    text-align: right;
}

.footer_nav a {
    font-size: 1rem;
}


/* ------ 9.0 MEDIA QUERIES ------ */

/* ALL OVER*/
@media only screen and (max-width: 414px) {
    h3 {
        padding: 0px;
    }
}

@media only screen and (min-width: 1499px) {
    body {
        margin: auto;
    }
}

/* ---- BURGERMENU ---- */

@media only screen and (max-width: 993px) {
    nav {
        width: 150px;
    }

    #navbar {
        display: none;
    }

    .dropdown {
        display: none;
    }
}

@media only screen and (min-width: 993px) {
    #menuknap {
        display: none;
    }

    #menu {
        display: none;
    }
}

/* INDEX */

@media only screen and (max-width: 665px) {
    .front_text h1 {
        font-size: 3rem;
    }

    .front_text h2 {
        font-size: 1.5rem;
        padding-top: 20px;
    }
}

@media only screen and (max-width:320px) {
    #boxes {
        margin: 10px;
    }
}

/* CV */
@media only screen and (max-width: 665px) {
    .description p {
        padding: 0;
    }

    .description h2 {
        font-size: 2rem;
    }

    .section h2 {
        font-size: 1.5rem;
    }

    #bg_image img {
        left: 20vw;
    }
}

@media only screen and (min-width: 1560px) {
    #bg_image img {
        left: 45vw;
        top: 0vw;
    }

    .cv_headline h1 {
        left: 19vw;
    }

}

@media only screen and (min-width: 1700px) {
    #bg_image img {
        left: 41vw;
        top: -1vw;
    }
}

@media only screen and (min-width: 1800px) {
    #bg_image img {
        left: 39vw;
    }
}

@media only screen and (min-width: 1900px) {
    #bg_image img {
        left: 36.5vw;
    }

    .cv_headline h1 {
        top: 14vw;
        left: 22vw;
    }
}

@media only screen and (max-width: 1024px) {
    .cv_headline h1 {
        top: 9vw;
        left: 15vw;
        font-size: 8rem;
    }

    #bg_image img {
        top: 3.8vw;
        left: 45.1vw;
    }
}

@media only screen and (max-width: 768px) {
    .cv_headline h1 {
        top: 6vw;
        left: 12vw;
        font-size: 8rem;
    }

    #bg_image img {
        top: 4.3vw;
        left: 43.6vw;
        width: 49vw;
    }
}

@media only screen and (max-width: 425px) {
    .cv_headline h1 {
        font-size: 3rem;
        top: 43vw;
        left: 40vw;
    }

    #bg_image img {
        width: 61vw;
        left: 13vw;
    }
}

@media only screen and (max-width: 768px) {
    .it {
        margin-left: 0px;
    }

    .it h3 {
        padding-left: 10px;
    }

    .it li {
        padding-left: 10px;
    }
}


@media only screen and (max-width: 1024px) {
    .description p {
        padding: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .overlay_cv {
        display: inline;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 87%;
        width: 300px;
        opacity: 0.8;
        transition: .5s ease;
        background-color: #7F6A6E;
    }

    /*----------------------------*/

    .overlay_web {
        display: inline;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 87%;
        width: 300px;
        opacity: 0.8;
        transition: .5s ease;
        background-color: #d19494;
    }

    /*----------------------------*/
    .overlay_content {
        display: inline;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 87%;
        width: 300px;
        opacity: 0.8;
        transition: .5s ease;
        background-color: #BA9AA0;
    }

    /*----------------------------*/
    .overlay_animation {
        display: inline;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 87%;
        width: 300px;
        opacity: 0.8;
        transition: .5s ease;
        background-color: #9a7d91;
    }

    /*----------------------------*/
    .overlay_uxd {
        display: inline;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 87%;
        width: 300px;
        opacity: 0.8;
        transition: .5s ease;
        background-color: #CBAAB0;
    }

    /*----------------------------*/
    .overlay_uxp {
        display: inline;
        position: absolute;
        top: 0;
        bottom: 0;
        height: 87%;
        width: 300px;
        opacity: 0.8;
        transition: .5s ease;
        background-color: #706470;
    }
}

/*WEB*/
@media only screen and (max-width: 665px) {
    .web_headline h1 {
        font-size: 2rem;
    }

    .web_text p {
        padding: 0;
    }

    .web_image img {
        padding: 20px 0px;
    }

    .link_web a {
        font-size: 1.2rem;
    }
}

/*INDHOLD*/
@media only screen and (max-width: 665px) {
    .content_headline h1 {
        font-size: 2rem;
    }

    .content_text p {
        padding: 0;
    }

    .content_image img {
        padding: 20px 0px;
    }

    .content_link a {
        font-size: 1rem;
    }

}

/*ANIMATION*/
@media only screen and (max-width: 665px) {
    .animation_headline h1 {
        font-size: 2rem;
    }

    .animation_text p {
        padding: 0;
    }

    .animation_h2 h2 {
        font-size: 1.2rem;
    }

    .animation_image img {
        padding: 20px 0px;
    }

    .animation_link a {
        font-size: 0.9rem;
    }

    .animation_link {
        margin: 0px 30px;
    }

}

@media only screen and (max-width: 1024px) {

    #dans {
        left: 3vw;
        top: 7vw;
        width: 10vw;

    }
}

@media only screen and (max-width: 768px) {

    #dans {
        left: 10vw;
        top: 2vw;
        width: 10vw;

    }
}

@media only screen and (max-width: 425px) {

    #dans {
        left: 20vw;
        top: 8vw;
        width: 10vw;

    }
}

@media only screen and (max-width: 375px) {

    #dans {
        left: 40vw;
        top: 2vw;
        width: 13vw;
    }
}

/*UX-DESIGNSPRINT*/
@media only screen and (max-width: 665px) {
    .uxd_headline h1 {
        font-size: 2rem;
    }

    .uxd_text p {
        padding: 0;
    }

    .uxd_h2 h2 {
        font-size: 1.2rem;
    }

    .uxd_image img {
        padding: 20px 0px;
    }

    .link_uxd a {
        font-size: 0.7rem;
    }

    .link_uxd {
        margin: 0px 30px;
    }
}

/*UX-DESIGNSPRINT*/
@media only screen and (max-width: 665px) {
    .uxp_headline h1 {
        font-size: 2rem;
    }

    .uxp_text p {
        padding: 0;
    }

    .uxp_h2 h2 {
        font-size: 1.2rem;
    }

    .uxp_image img {
        padding: 20px 0px;
    }

    .link_uxp a {
        font-size: 0.7rem;
    }

    .link_uxp {
        margin: 0px 30px;
    }
}

@media only screen and (max-width: 665px) {
    footer {
        margin-top: 20px;
    }

    .footer_some {
        text-align: center;
        padding-bottom: 10px;
    }

    .footer_info {
        flex-basis: 500px;
        flex-grow: 1;
        padding-bottom: 10px;
    }

    .footer_info p {
        font-style: normal;
        font-weight: 300;
        font-family: 'montserrat', sans-serif;
        font-size: 1rem;
        text-align: center;
    }

    .footer_nav li {
        text-align: center;
    }

    .footer_nav ul {
        padding: 0;
    }

    .footer_nav a {
        font-size: 1rem;
    }
}
